body {
    margin: 0;
    padding: 0;
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    color: #022300;
    background-color: #F8F2F9;
}

header {
    height: 50px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #469040;
}

nav {
    width: 340px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerLink {
    color: #F8F2F9;
    font-family: Oswald, sans-serif;
    text-decoration: none;
}
.headerLink:hover {
    text-decoration: underline;
}

.container {
    min-height: calc(100% - 100px);
    width: 1100px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.auth {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    background-color: #EAEAEA;
}

h2 {
    font-family: Oswald, sans-serif;
    font-size: 20px;
    margin: 0 0 15px 0;
    align-self: center;
}
h3 {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    margin: 0 0 15px 0;
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    border: solid 1px #DDDDDD;
    border-radius: 15px;
    margin: 0;
    padding: 0 15px;
    background-color: #F8F2F9;
}
input::placeholder {
    color: #6E7E6E;
}
input:focus {
    outline: none;
    border: solid 1px #469040;
}

.authInput {
    /*width: 100%;*/
    margin-bottom: 10px;
}
.authInputLabel {
    font-size: 15px;
    margin: 0 0 5px 0;
}

.authButton {
    margin: 10px 0 20px 0;
}
.authAnotherButton {
    color: #236D1D;
}

button {
    height: 30px;
    padding: 0 15px;
    border: solid 1px #469040;
    border-radius: 15px;
    background-color: #CFF7CC;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}

.card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    background-color: #EAEAEA;
}

.taskForm {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin-bottom: 10px;
}

textarea {
    height: 25px;
    padding: 5px 15px 0;
    font-family: inherit;
    resize: none;
    overflow: hidden;
}

.taskInput {
    /*height: 30px;*/
    margin: 0;
    background-color: #F8F2F9;
    border: solid 1px #DDDDDD;
    border-radius: 15px;
    flex-grow: 1;
}
.taskInput:focus {
    outline: none;
    border: solid 1px #469040;
}

.taskType {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
    border: solid 1px #DDDDDD;
    border-radius: 15px;
    background-color: #F8F2F9;
}
.taskTypeActive {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 0 0;
    border: solid 1px #469040;
    border-radius: 15px;
    background-color: #CFF7CC;
}

.monthView {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.monthView:nth-child(odd) {
    flex-direction: row-reverse;
}

/* -------------------------------- CALENDAR -----------------------------*/
.react-calendar {
    width: 290px;
    padding: 20px;
    margin: 15px;
    background-color: #EAEAEA;
    border-radius: 15px;
    font-family: Oxygen, sans-serif;
}
.react-calendar__navigation {
    display: none;
}
.react-calendar__month-view__weekdays {
    height: 30px;
    align-items: center;
    margin-bottom: 10px;
    border-top: solid 1px #469040;
    border-bottom: solid 1px #469040;
    background-color: #CFF7CC;
    font-family: Oswald, sans-serif;
    font-size: 16px;
}
.react-calendar__month-view__weekdays__weekday {
    text-align: center;
    text-decoration-style: solid;
    border-bottom: none;
}
.react-calendar__tile {
    width: 30px;
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: revert;
    margin: 0;
    align-self: center;
}
.react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    justify-items: center;
}
.react-calendar__month-view__days__day {
    font-family: Oxygen, sans-serif;
    font-size: 14px;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #6E7E6E;
}
.react-calendar__tile--range {
    background-color: #CFF7CC;
    border: solid 1px #469040;
}
abbr {
    text-decoration: none;
}

/* --------------------------------------- CALENDAR end ------------------------------------*/